<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curtis.fyp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.curtis.fyp.FypActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".lesson.LessonChoice2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".lesson.LessonMain"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.curtis.fyp.Login"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.asmack.service.fileListenerService" >
            <intent-filter>
                <action android:name="com.asmack.fileservice" >
                </action>
            </intent-filter>
        </service>
        <service android:name="com.asmack.service.MessageListenerService" >
            <intent-filter>
                <action android:name="com.asmack.messageservice" >
                </action>
            </intent-filter>
        </service>

        <receiver
            android:name=".IncomingCallReceiver"
            android:label="Call Receiver" />

        <activity
            android:name=".lesson.LiveLessonChoice"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".lesson.TeacherPrepareStartLesson"></activity>
    </application>

</manifest>